<!doctype html>
<html lang="zxx" class="theme-light">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/fontawesome.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/slick.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.css">
		<link rel="stylesheet" href="assets/css/odometer.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link rel="stylesheet" href="assets/css/dark-style.css">

        <title>Luvion - Online Banking & Payment Processing HTML Template</title>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>

        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-with-position-relative">
            <div class="luvion-responsive-nav">
                <div class="container">
                    <div class="luvion-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/img/black-logo.png" alt="logo">
                                <img src="assets/img/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="luvion-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/img/black-logo.png" alt="logo">
                            <img src="assets/img/logo.png" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#" class="nav-link active">Home <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="index.html" class="nav-link">Home Demo - 1</a></li>

                                        <li class="nav-item"><a href="index-2.html" class="nav-link">Home Demo - 2</a></li>

                                        <li class="nav-item"><a href="index-3.html" class="nav-link">Home Demo - 3</a></li>

                                        <li class="nav-item"><a href="index-4.html" class="nav-link">Home Demo - 4</a></li>

                                        <li class="nav-item"><a href="index-5.html" class="nav-link">Home Demo - 5</a></li>

                                        <li class="nav-item"><a href="index-6.html" class="nav-link active">Home Demo - 6</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>

                                <li class="nav-item"><a href="#" class="nav-link">Features <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="features-1.html" class="nav-link">Features Style One</a></li>

                                        <li class="nav-item"><a href="features-2.html" class="nav-link">Features Style Two</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Pages <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="about.html" class="nav-link">About Us</a></li>

                                        <li class="nav-item"><a href="#" class="nav-link">Features</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="features-1.html" class="nav-link">Features Style One</a></li>
        
                                                <li class="nav-item"><a href="features-2.html" class="nav-link">Features Style Two</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item"><a href="team.html" class="nav-link">Team</a></li>

                                        <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>

                                        <li class="nav-item"><a href="login.html" class="nav-link">Login</a></li>

                                        <li class="nav-item"><a href="sign-up.html" class="nav-link">Register</a></li>

                                        <li class="nav-item"><a href="error-404.html" class="nav-link">404 Error</a></li>

                                        <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>

                                <li class="nav-item"><a href="#" class="nav-link">Blog <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="blog-1.html" class="nav-link">Blog Grid</a></li>

                                        <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog Right Sidebar</a></li>

                                        <li class="nav-item"><a href="single-blog.html" class="nav-link">Blog Details</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                            </ul>

                            <div class="others-options">
                                <a href="login.html" class="login-btn"><i class="flaticon-user"></i> Log In</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        
        <!-- Start Main Banner Woman Area -->
        <div class="main-banner-woman-area">
            <div class="container">
                <ul class="banner-woman-list">
                    <li>
                        <i class="fa-solid fa-user"></i> Over 10 million customers
                    </li>

                    <li>
                        <i class="fa-solid fa-certificate"></i> FCA regulated
                    </li>
                </ul>

                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <div class="main-banner-woman-content">
                            <h1>Easy, fee-free banking for entrepreneurs</h1>
                            <p>Get the financial tools and insights to start, build, and grow your business.</p>
                            
                            <ul class="btn-list">
                                <li>
                                    <a href="contact.html" class="btn btn-primary">Get Started</a>
                                </li>
                                <li>
                                    <a href="contact.html" class="discover-more-btn">Discover More <i class="fa-solid fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="main-banner-woman-image">
                            <img src="assets/img/home-six/banner/banner-woman.png" alt="image">

                            <div class="woman-shape">
                                <img src="assets/img/home-six/banner/woman-shape-1.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-woman-shape">
                <img src="assets/img/home-six/banner/woman-shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Main Banner Woman Area -->

        <!-- Start Partner Area -->
        <section class="partner-style-area pt-100 pb-75">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="single-partner-card">
                            <a href="#"><img src="assets/img/home-six/partner/partner1.png" alt="image"></a>
                            <a href="#"><img src="assets/img/home-six/partner/partner-1.png" alt="image"></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="single-partner-card">
                            <a href="#"><img src="assets/img/home-six/partner/partner2.png" alt="image"></a>
                            <a href="#"><img src="assets/img/home-six/partner/partner-2.png" alt="image"></a>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="single-partner-card">
                            <a href="#"><img src="assets/img/home-six/partner/partner3.png" alt="image"></a>
                            <a href="#"><img src="assets/img/home-six/partner/partner-3.png" alt="image"></a>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="single-partner-card">
                            <a href="#"><img src="assets/img/home-six/partner/partner4.png" alt="image"></a>
                            <a href="#"><img src="assets/img/home-six/partner/partner-4.png" alt="image"></a>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="single-partner-card">
                            <a href="#"><img src="assets/img/home-six/partner/partner5.png" alt="image"></a>
                            <a href="#"><img src="assets/img/home-six/partner/partner-5.png" alt="image"></a>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-6 col-sm-3 col-md-3">
                        <div class="single-partner-card">
                            <a href="#"><img src="assets/img/home-six/partner/partner6.png" alt="image"></a>
                            <a href="#"><img src="assets/img/home-six/partner/partner-6.png" alt="image"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Partner Area -->

        <!-- Start About Us Area -->
        <div class="about-us-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-us-content">
                            <span>About Us</span>
                            <h3>Committed to helping our customers succeed</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum randomised</p>
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-check-mark"></i> Free plan available
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> 100% transparent costs
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-check-mark"></i> Full data privacy compliance
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> Commitment-free
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="about-btn">
                                <a href="sign-up.html" class="sign-up-btn">signup now <i class="fa-solid fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-us-right-content">
                            <p>“Dear Customers, we are thrilled you chose to purchase the Tryo from us. We are working hard to build even higher-quality products for our customers. We would love to hear your thoughts and opinion. Please go Tryo to share with us your feedback. Thank you.”</p>

                            <div class="information d-flex align-items-center">
                                <img src="assets/img/home-six/user.png" class="rounded-circle" alt="image">

                                <div class="title">
                                    <h3>Alex Smith</h3>
                                    <span>Founder & CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about-us-shape">
                <img src="assets/img/home-six/vector-shape-1.png" alt="image">
            </div>
        </div>
        <!-- End About Us Area -->
        
        <!-- Start Flexibility Area -->
        <div class="flexibility-area pt-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="flexibility-image">
                            <img src="assets/img/home-six/flexibility.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="flexibility-content">
                            <span>Flexibility</span>
                            <h3>To give you the power to make things happen</h3>

                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-check-mark"></i> Easy transfers
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> Business without borders
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> International Payments
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-check-mark"></i>  A powerful open API 
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> Affiliates and partnerships
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> Automated accounting
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum randomised</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Flexibility Area -->

        <!-- Start Fun Facts Area -->
		<section class="funfacts-style-area">
			<div class="container">
                <div class="funfacts-style-inner-box ptb-100">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                            <div class="funfact">
                                <h3><span class="odometer" data-count="180">00</span>K</h3>
                                <p>Downloaded</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                            <div class="funfact">
                                <h3><span class="odometer" data-count="20">00</span>K</h3>
                                <p>Feedback</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                            <div class="funfact">
                                <h3><span class="odometer" data-count="500">00</span>+</h3>
                                <p>Workers</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                            <div class="funfact">
                                <h3><span class="odometer" data-count="70">00</span>+</h3>
                                <p>Contrubutors</p>
                            </div>
                        </div>
                    </div>

                    <div class="contact-cta-box">
                        <h3>Have any question about us?</h3>
                        <p>Don't hesitate to contact us</p>
                        <a href="contact.html" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
			</div>
		</section>
        <!-- End Fun Facts Area -->

        <!-- Start Security Services Area -->
        <div class="security-services-area pt-100 pb-75">
            <div class="container">
                <div class="wrap-section-title">
                    <span>Security</span>
                    <h2>We show our value by serving faithfully</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="security-services-card">
                            <div class="icon">
                                <i class="flaticon-piggy-bank"></i>
                            </div>
                            <h3>Transparent Pricing</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
                            <a href="#" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="security-services-card">
                            <div class="icon">
                                <i class="flaticon-data-encryption"></i>
                            </div>
                            <h3>Fully Encrypted</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
                            <a href="#" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="security-services-card">
                            <div class="icon">
                                <i class="flaticon-shield"></i>
                            </div>
                            <h3>Safe and Secure</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
                            <a href="#" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Security Services Area -->

        <!-- Start Awesome Features Area -->
        <div class="awesome-features-area pt-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="awesome-features-content">
                            <span>Our Awesome Features</span>
                            <h3>Stay ahead of the curve, ready for everything</h3>

                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6">
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-check-mark"></i> Deadline reminders
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> Information retrieval
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> Email notifications
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <ul class="list">
                                        <li>
                                            <i class="flaticon-check-mark"></i>  Drag and drop functionality 
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> Simple dashboard
                                        </li>

                                        <li>
                                            <i class="flaticon-check-mark"></i> Incredible infrastructure
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum randomised</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="awesome-features-image">
                            <img src="assets/img/home-six/awesome-features.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Awesome Features Area -->

        <!-- Start Testimonials Wrap Area -->
        <div class="testimonials-wrap-area ptb-100">
            <div class="container">
                <div class="testimonials-wrap-slides owl-carousel owl-theme">
                    <div class="testimonials-card">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.</p>
                        <div class="information d-flex align-items-center justify-content-center">
                            <img src="assets/img/home-six/user.png" class="rounded-circle" alt="image">
    
                            <div class="title">
                                <h3>Alex Smith</h3>
                                <span>Founder & CEO</span>
                            </div>
                        </div>
                        <div class="vector-icon-image">
                            <img src="assets/img/home-six/vector-icon.png" alt="icon">
                        </div>
                    </div>

                    <div class="testimonials-card">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.</p>
                        <div class="information d-flex align-items-center justify-content-center">
                            <img src="assets/img/home-six/user.png" class="rounded-circle" alt="image">
    
                            <div class="title">
                                <h3>Steven Smith</h3>
                                <span>Web Developer</span>
                            </div>
                        </div>
                        <div class="vector-icon-image">
                            <img src="assets/img/home-six/vector-icon.png" alt="icon">
                        </div>
                    </div>

                    <div class="testimonials-card">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.</p>
                        <div class="information d-flex align-items-center justify-content-center">
                            <img src="assets/img/home-six/user.png" class="rounded-circle" alt="image">
    
                            <div class="title">
                                <h3>Sarah Taylor</h3>
                                <span>Co-Founder</span>
                            </div>
                        </div>
                        <div class="vector-icon-image">
                            <img src="assets/img/home-six/vector-icon.png" alt="icon">
                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonials-wrap-shape">
                <img src="assets/img/home-six/vector-shape-2.png" alt="image">
            </div>
        </div>
        <!-- End Testimonials Wrap Area -->

        <!-- Start Blog Wrap Area -->
        <div class="blog-wrap-area pt-100 pb-75">
            <div class="container">
                <div class="wrap-section-title">
                    <span>Our Blog</span>
                    <h2>We make banking faster & easier, so you can do more</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="image">
                                <a href="single-blog.html" class="d-block">
                                    <img src="assets/img/home-six/blog1.jpg" alt="image">
                                </a>
                                <span class="date">October 30, 2022</span>
                            </div>
                            <div class="content">
                                <h3><a href="single-blog.html">Protect Your Workplace from Cyber Attacks</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
                                <a href="single-blog.html" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="image">
                                <a href="single-blog.html" class="d-block">
                                    <img src="assets/img/home-six/blog2.jpg" alt="image">
                                </a>
                                <span class="date">October 30, 2022</span>
                            </div>
                            <div class="content">
                                <h3><a href="single-blog.html">The security risks of changing package owners</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
                                <a href="single-blog.html" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-card">
                            <div class="image">
                                <a href="single-blog.html" class="d-block">
                                    <img src="assets/img/home-six/blog3.jpg" alt="image">
                                </a>
                                <span class="date">October 30, 2022</span>
                            </div>
                            <div class="content">
                                <h3><a href="single-blog.html">10 Tips To Reduce Your Card Processing Costs</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali</p>
                                <a href="single-blog.html" class="read-more-btn">Read more <i class="fa-solid fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Wrap Area -->

        <!-- Start Subscribe Wrap Area -->
        <div class="subscribe-wrap-area pb-100">
            <div class="container">
                <div class="subscribe-wrap-inner-box">
                    <div class="subscribe-wrap-box-content">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12">
                                <div class="subscribe-content">
                                    <h3>Subscribe our nesletter</h3>
                                    <p>Don’t miss any update on new promotions</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <form class="newsletter-form" data-toggle="validator">
                                    <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required autocomplete="off">
                                    <button type="submit" class="btn btn-primary">Subscribe Now<span></span></button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe Wrap Area -->

        <!-- Start Footer Area -->
		<footer class="footer-area footer-style-wrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6 col-md-6">
						<div class="single-footer-widget">
							<div class="logo">
								<a href="index.html" class="white-logo"><img src="assets/img/logo.png" alt="logo"></a>
                                <p>Quis ipsum suspendisse ultrices gravida commodo. Risus commodo veliliee vel viverra maecenas accumsan lacus vel facilisis.</p>
							</div>
                            
							<ul class="social-links">
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 col-md-6">
						<div class="single-footer-widget">
                            <h3>Company</h3>
                            
							<ul class="list">
								<li><a href="about.html">About Us</a></li>
								<li><a href="features-2.html">Services</a></li>
								<li><a href="features-1.html">Features</a></li>
								<li><a href="pricing.html">Our Pricing</a></li>
								<li><a href="blog-1.html">Latest News</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 col-md-6">
						<div class="single-footer-widget">
                            <h3>Support</h3>
                            
							<ul class="list">
								<li><a href="faq.html">FAQ's</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms & Condition</a></li>
								<li><a href="#">Community</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 col-md-6">
						<div class="single-footer-widget">
							<h3>Address</h3>
							
							<ul class="footer-contact-info">
								<li><span>Location:</span> 27 Division St, New York, NY 10002, USA</li>
								<li><span>Email:</span> <a href="mailto:hello@luvion.com">hello@luvion.com</a></li>
								<li><span>Phone:</span> <a href="tel:+321984754">+ (321) 984 754</a></li>
								<li><span>Fax:</span> <a href="tel:+12129876543">+1-212-9876543</a></li>
                            </ul>
						</div>
					</div>
				</div>

                <div class="copyright-area">
                    <p>Copyright @<script>document.write(new Date().getFullYear())</script> Luvion is proudly created by <a href="https://envytheme.com/" target="_blank"> EnvyTheme</a></p>
                </div>
            </div>
            
            <div class="map-image"><img src="assets/img/map.png" alt="map"></div>
		</footer>
        <!-- End Footer Area -->
        
        <div class="go-top"><i class="fas fa-arrow-up"></i></div>

        <!-- Dark/Light Toggle -->
		<div class="dark-version">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/meanmenu.js"></script>
        <script src="assets/js/nice-select.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/magnific-popup.min.js"></script>
		<script src="assets/js/appear.min.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/parallax.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>